/* Package page CSS*/
.logo{
    text-align:left;
    font-size:29px;
    font-weight: bold;
    padding: 7px;
}

.packages-bg {
    background-image: url('../assets/nyc-dark.png');
    background-color: #cccccc;
    height: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow:auto;
  }

#pa-page-title{
    color:white;
    text-align:left;
    text-align:bottom;
    margin-left:15%;
    padding-top: 9%;
    font-size: 45px;
    font-weight: bold;
}
#pa-page-intro{
    color:white;
    text-align:left;
    margin-left:15%;
    font-size: 25px;
    padding-bottom: 3%;
}

.packages{
    display:flex;
    flex-direction:column;
    background:rgba(217,217,217, 0.45);
    width: 70%;
    overflow:auto; 
    padding-bottom: 40px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    padding-left:5%;
    padding-right:5%;
    overflow:scroll;
}

.package-card{
    padding-top:2%;
    width:100%;
}

.package-title{
    color:white;
    text-align:left;
    font-size: 35px;
    font-weight: bold;
    margin-bottom:2%;
}

.package-info{
    list-style-type:disk;
    text-align:left;
    background:white;
    border-radius: 10px;
    padding: 3%;
    font-size: 17px;
    display:flex;
    flex-direction:row;
    margin-bottom:20px;
}

.view-details{
    background-color:#5E4824;
    color:white;
    border: 0px;
    height: 42px;
    float:right; 
    border-radius: 5px;
    font-size: 22px;
    width: 100px;
}

.trip-content{
    flex-grow: 4;
}

.package-map{
    background-color:#cccccc;
    border-radius: 10px;
    height: 380px;
    text-align: left;
    margin-bottom:20px;
}

.book-button{
    background-color:#455EA0;
    color:white;
    border: 0px;
    height: 42px;
    float:right; 
    border-radius: 5px;
    font-size: 22px;
    width: 200px;
}

.trip-details-text{
    margin-top:20px;
    font-size: 20px;
}

.package-info-details{
    list-style-type:disk;
    text-align:left;
    background:white;
    border-radius: 10px;
    padding: 3%;
    font-size: 20px;
    margin-bottom:20px;
    margin-top:30px;
}

.package-info-details-1{
    text-align:left;
    background:white;
    border-radius: 10px;
    padding: 3%;
    font-size: 17px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin-bottom:20px;
}

#site-img{
    height: 200px;
    width: 270px;
    border-radius: 12px;
}
#site-img1{
    height: 200px;
    width: 270px;
    border-radius: 12px;
}

#site-intro{
    margin-bottom: 15px;
    font-weight: bold;
    font-size:22px;
}

#site-intro-detail{
    padding-right: 30px;
}

#detail-reminder{
    font-size:15px;
    margin-top:15px;
    color:#ED7507;
}

@media only screen and (max-width: 1000px){
    .packages-bg{
        height: 2200px;
    }
    .packages{
        font-size:26px;
    }
    .package-info{
        font-size:26px;
    }

    .trip-details-text{
        font-size:26px;
    }

    .view-details{
        border: 0px;
        height: 45px;
        float:right; 
        border-radius: 5px;
        font-size: 27px;
        width: 100px;
    }

    #site-img{
        height: 220px;
        width: 250px;
        border-radius: 12px;
    }
    #site-img1{
        height: 220px;
        width: 250px;
        border-radius: 12px;
    }

    .package-map{
        overflow:visible;
        border-radius: 10px;
        height: 300px;
        margin-bottom:20px;
    }

    #mapD{
        overflow:visible;
        height: 300px;
    }

    .book-button{
        border: 0px;
        height: 47px;
        float:right; 
        border-radius: 5px;
        font-size: 27px;
        width: 200px;
    }
}

/* map related css */
#map {
    height: 100%;
    border-radius: 10px;
  }
#map1 {
    height: 100%;
    border-radius: 10px;
}
#map2 {
    height: 100%;
    border-radius: 10px;
}
#map3 {
    height: 100%;
    border-radius: 10px;
}
#mapD {
    height: 100%;
    border-radius: 10px;
}