/* Some global settings */
body{
    margin: 0px;
    font-family:avenir;
    text-align: center;
}

.logo{
    text-align:left;
    font-size:25px;
    font-weight: bold;
    padding: 7px;
    color:black;
}

/* Home page css */
#home-bg {
    background-image: url('../assets/Layover-home.png');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#enter-flight{
    background:rgba(255,255,255, 0.96);
    width: 62%;
    height: 65%;
    margin: auto;
    top:14%;
    position: relative;
    border-radius: 10px;
}

#home-title{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0px;
}

#layover-text-home{
    color:#F09038;
}

#home-intro{
    padding:0;
    margin:0;
    text-align: center;
}

/* CSS for the text entry boxes and their labels */
.enter-flight-text{
    padding:0;
    margin:0;
    text-align: left;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 4%;
    font-size: 20px;
}

.arrival{
    padding:0;
    margin:0;
    margin-bottom: 20px;
}

.departure{
    padding:0;
    margin-top:40px;
    margin-bottom: 20px;
}

.line{
    display:flex;
}

input[type=text] {
    background-color:#E3E3E3;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    flex-grow:100;
    font-family:avenir;
}

input[type=date] {
    background-color:#E3E3E3;
    color:#838383;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    font-family:avenir;
    text-align:right;
    flex-grow:100;
}

#home-submit{
    background-color:#455EA0;
    border: 0px;
    height: 35px;
    float:right; 
    border-radius: 5px;
    width:165px;
    color:white;
    font-size: 18px;
    margin-top:35px;
}

/* Media query for home page displays */
@media only screen and (max-width: 1000px) {
    #home-title{
        font-size: 73px;
        font-weight: bold;
        text-align: center;
        padding-top: 60px;
    }

    #home-intro{
        font-size: 30px;
        margin: 10px 25px 40px 25px;
    }

    .arrival{
        width: 100%;
    }

    .departure{
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .line{
        display: block;
        font-size: 30px;
    }

    .select-date{
        width: 100%;
    }

    input[type=text] {
        height: 50px;
        border-radius: 5px;
        flex-grow:100;
        font-size: 25px;
        font-family:avenir;
    }

    input[type=date] {
        height: 50px;
        border-radius: 5px;
        font-family:avenir;
        font-size: 25px;
        flex-grow:100;
        margin-bottom: 40px;
    }

    .enter-flight-text{
        padding:0;
        margin:0;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 4%;
        font-size: 20px;
    }

    #home-submit{
        height: 50px;
        width:250px;
        font-size: 25px;
        margin-top: 30px;
    }
}


/* CSS for the confirmation page */
#confirm-bg{
    background-image: url('../assets/V2-pay.png');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#confirm-box{
    background:rgba(255,255,255, 0.96);
    width: 53%;
    height: 45%;
    margin: auto;
    top:25%;
    position: relative;
    border-radius: 10px;
}

.thx-message{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 70px 40px 0px 40px;
}

#booked{
    font-size: 27px;
    padding-top: 50px;
}

#confirm-trip-name{
    font-weight: bold;
    color:#F09038;
    margin-top: 0px;
}

/* Media query for the confirmation page */
@media only screen and (max-width: 1000px){
    #confirm-box{
        height: 25%;
        width: 55%;
    }
}